* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/img/slider-mision-y-vision.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.name {
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a{
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

li a:hover {
    background: rgb(0, 119, 231);
}

.acerca:link {
    background: rgb(0, 119, 231);
}

.container {
    width: 100%;
    height: 760px;
    background:rgba(0, 0, 0, 0.712);
    position: absolute;
    overflow: hidden;
    margin-top: 200px;
    
}

.main {
    width: 32%;
    height: 500px;
    font-size: 40px;
    color: white;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    margin-left: 20px;
    float: left;
}